@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: normal;
    src: local('ProximaNova'), local('ProximaNova'), url(../fonts/ProximaNova-Regular.otf) format('opentype');
}
