/* ============ ICON FONT STYLES ============ */

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?aw545q');
    src: url('fonts/icomoon.eot?aw545q#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?aw545q') format('truetype'), url('fonts/icomoon.woff?aw545q') format('woff'), url('fonts/icomoon.svg?aw545q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Regular";
    src: url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Thin";
    src: url("./fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important; //speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left-double-arrow-glyph24:before {
    content: "\e926\e926";
    color: #596371;
}

.icon-right-double-arrow-glyph24:before {
    content: "\e932\e932";
    color: #596371;
}

/* ============ PUT NEW ICONS BELOW ============ */

.icon-active-stroke-24:before {
    content: "\e900";
    color: #596371;
}

.icon-add-16:before {
    content: "\e901";
    color: #596371;
}

.icon-add-list-16:before {
    content: "\e902";
    color: #596371;
}

.icon-add-stroke-24:before {
    content: "\e903";
    color: #596371;
}

.icon-at-sign-16:before {
    content: "\e904";
    color: #596371;
}

.icon-attach-16:before {
    content: "\e905";
    color: #596371;
}

.icon-attach-30:before {
    content: "\e906";
    color: #005cfb;
}

.icon-audio-16:before {
    content: "\e907";
    color: #596371;
}

.icon-bars-stroke-24 .path1:before {
    content: "\e908";
    color: rgb(89, 99, 113);
}

.icon-bars-stroke-24 .path2:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.9;
}

.icon-bars-stroke-24 .path3:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.8;
}

.icon-bars-stroke-24 .path4:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.7;
}

.icon-bars-stroke-24 .path5:before {
    content: "\e90c";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.5;
}

.icon-bars-stroke-24 .path6:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.4;
}

.icon-bars-stroke-24 .path7:before {
    content: "\e90e";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.3;
}

.icon-bars-stroke-24 .path8:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(89, 99, 113);
    opacity: 0.15;
}

.icon-calendar-16:before {
    content: "\e910";
    color: #596371;
}

.icon-calendar-grid-30:before {
    content: "\e911";
    color: #005cfb;
}

.icon-caps-small-30:before {
    content: "\e912";
    color: #005cfb;
}

.icon-chat-16:before {
    content: "\e913";
    color: #596371;
}

.icon-check-16:before {
    content: "\e914";
    color: #596371;
}

.icon-check-square-30:before {
    content: "\e915";
    color: #005cfb;
}

.icon-cloud-upload-16:before {
    content: "\e916";
    color: #596371;
}

.icon-conference-16:before {
    content: "\e917";
    color: #596371;
}

.icon-contact-stroke-24:before {
    content: "\e918";
    color: #596371;
}

.icon-copy-stroke-24:before {
    content: "\e919";
    color: #596371;
}

.icon-cursor-menu-30:before {
    content: "\e91a";
    color: #005cfb;
}

.icon-dev-30:before {
    content: "\e91b";
    color: #005cfb;
}

.icon-dial-pad-16:before {
    content: "\e91c";
    color: #596371;
}

.icon-disk-16:before {
    content: "\e91d";
    color: #596371;
}

.icon-edit-16:before {
    content: "\e91e";
    color: #596371;
}

.icon-edit-stroke-24:before {
    content: "\e91f";
    color: #596371;
}

.icon-email-83:before {
    content: "\e920";
    color: #596371;
}

.icon-facebook:before {
    content: "\e921";
    color: #596371;
}

.icon-fax-16:before {
    content: "\e922";
    color: #596371;
}

.icon-fb-16:before {
    content: "\e923";
    color: #596371;
}

.icon-focus-24:before {
    content: "\e924";
    color: #596371;
}

.icon-folder-search-24:before {
    content: "\e925";
    color: #596371;
}

.icon-ic_radio_button_checked_24px:before {
    content: "\e926";
    color: #005cfb;
}

.icon-inbound-16:before {
    content: "\e927";
    color: #13ce66;
}

.icon-left-arrow-16:before {
    content: "\e928";
    color: #596371;
}

.icon-left-arrow-glyph24:before {
    content: "\e929";
    color: #596371;
}

.icon-link-30:before {
    content: "\e92a";
    color: #005cfb;
}

.icon-link-stroke-24:before {
    content: "\e92b";
    color: #596371;
}

.icon-list-numbers-30:before {
    content: "\e92c";
    color: #005cfb;
}

.icon-logo-wechat-24:before {
    content: "\e92d";
    color: #596371;
}

.icon-multiple-stroke-24:before {
    content: "\e92e";
    color: #596371;
}

.icon-outbound-16:before {
    content: "\e92f";
    color: #ff4949;
}

.icon-pause-16:before {
    content: "\e930";
    color: #596371;
}

.icon-pencil-2:before {
    content: "\e931";
}

.icon-person-search-24:before {
    content: "\e932";
    color: #596371;
}

.icon-phone-16:before {
    content: "\e933";
    color: #596371;
}

.icon-phone-24:before {
    content: "\e934";
    color: #596371;
}

.icon-print-24:before {
    content: "\e935";
    color: #596371;
}

.icon-right-arrow-16:before {
    content: "\e936";
    color: #596371;
}

.icon-right-arrow-glyph24:before {
    content: "\e937";
    color: #596371;
}

.icon-search-16:before {
    content: "\e938";
    color: #596371;
}

.icon-search-stroke-24:before {
    content: "\e939";
    color: #596371;
}

.icon-select-16:before {
    content: "\e93a";
    color: #596371;
}

.icon-select-16-asc:before {
    content: "\e93b";
    color: #005cfb;
}

.icon-select-16-defaut:before {
    content: "\e93c";
    color: #a8c7fc;
}

.icon-select-16-desc:before {
    content: "\e93d";
    color: #005cfb;
}

.icon-settings-16:before {
    content: "\e93e";
    color: #596371;
}

.icon-share-16:before {
    content: "\e93f";
    color: #596371;
}

.icon-simple-remove:before {
    content: "\e940";
    color: #596371;
}

.icon-single-position-30:before {
    content: "\e941";
    color: #596371;
}

.icon-speaker-30:before {
    content: "\e942";
    color: #596371;
}

.icon-sync-16:before {
    content: "\e943";
    color: #596371;
}

.icon-tag-30:before {
    content: "\e944";
    color: #005cfb;
}

.icon-time-clock-30:before {
    content: "\e945";
    color: #005cfb;
}

.icon-todo-16:before {
    content: "\e946";
    color: #596371;
}

.icon-todo-30:before {
    content: "\e947";
    color: #596371;
}

.icon-todo-stoke-24:before {
    content: "\e948";
    color: #596371;
}

.icon-trash-16:before {
    content: "\e949";
    color: #596371;
}

.icon-user-stroke-24:before {
    content: "\e94a";
    color: #596371;
}

.icon-voice-16:before {
    content: "\e94b";
    color: #596371;
}

.icon-warning-16:before {
    content: "\e94c";
    color: #596371;
}

.icon-wechat-16:before {
    content: "\e94d";
    color: #596371;
}

.icon-zoom-in-16:before {
    content: "\e94e";
    color: #596371;
}