#input-form-edit {
    position: absolute;
}

.input-form-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    display: flex;
}

.label-field {
    width: 100%;
    height: 37px;
    background: rgb(239, 242, 247);
    /*  antiquewhite; */
}


/* Change ALL <label> for this page into this format */

.input-form-body .label {
    background: none;
    color: #3C4858;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    text-align: left;
}

.input-body-container {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
}

#viewer,
#components,
#Iviewer {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


/* Add space at the bottom cuz for some reason, the last 2 cards are getting hidden */

#structure .scroll-area>.ui-sortable {
    margin-bottom: 200px;
}


/* Customized scrollbar -> Applied to the 3 main areas of the input form page */


/* Targetting -> #structure , #viewer, #components */

.input-form-body .scroll-area::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.input-form-body .scroll-area::-webkit-scrollbar-track {
    background: transparent;
}

.input-form-body .scroll-area::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #AECBFC;
}

.input-form-body .scroll-area::-webkit-scrollbar-thumb:window-inactive {
    background: #AECBFC;
}


/* ============================================*/


/* LEFT SIDEBAR AREA -> Form structure Area */


/* ============================================*/

#structure {
    flex: 1;
    background: #f4f5f7;
}

#structure ui-s {
    margin: 0;
    padding: 15px;
}

#structure>ul {
    padding: 0;
}

#structure>ul>li {
    list-style: none;
}


/* Container of the node name + tools that show when hovered */

#structure .node .name {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 30px;
}

#structure .node .name .tools {
    flex: 3;
    text-align: right;
    display: none;
}

#structure .node>.name:hover>.tools {
    display: block;
}

#structure .node .name .tools>a {
    margin-right: 3px;
    margin-left: 3px;
    color: #d7d7d7;
}

#structure .node .name .tools>a:hover {
    color: #2579d1;
}

#structure>.scroll-area>ul>.node>.name>.tools>.config {
    display: none;
}


/* Label for each card */

#structure .node .name>.label {
    background: none;
    color: #3C4858;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}


/* The insertable column area -> sort of like a drag and drop area */

#structure .node .childs {
    padding: 15px 10px;
    border: 1px dashed #649dff;
    background: #F2F6FE;
    list-style-type: none;
    margin: 0px;
}


/* All cards */

#structure .ui-sortable li.node {
    list-style-type: none
}


/* First level of cards ONLY */

#structure .ui-sortable>li.node {
    margin: 0px 0px 20px;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #dedede;
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 6px -6px black;
    -moz-box-shadow: 0 6px 6px -6px black;
    box-shadow: 0 6px 6px -6px #b5b5b5;
}


/* Second level of cards ONLY */

#structure>.ui-sortable>li.node li.node {
    background: #ffffff;
    /* opacity: 0.8; */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dedede;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px -3px #b5b5b5;
    -moz-box-shadow: 0px 3px 10px -3px #b5b5b5;
    box-shadow: 0px 3px 10px -3px #b5b5b5;
}


/* This is the area where you'll drop the dragged box */

.ui-sortable-placeholder {
    background: tomato !important;
    padding: 50px;
    height: 50px;
    visibility: visible !important;
}


/* This class is added when you drag a card */

.ui-sortable-helper {
    opacity: 0.8;
    height: auto !important;
}


/* This class is added when you drag a card -> This is the elements inside the dragged card */

.ui-sortable-helper .childs {
    border: none !important;
    padding: 0px !important;
}


/* ---------- viewer ---------- */


/* ============================================*/


/* INPUT FORM BUILD AREA */


/* ============================================*/

#viewer,
#Iviewer {
    flex: 3;
    display: flex;
    flex-direction: column;
    background-color: #E8ECF2;
    padding: 45px 30px;
    -moz-box-shadow: inset 0 0 15px #999;
    -webkit-box-shadow: inset 0 0 15px #999;
    box-shadow: inset 0 0 15px #999;
}

#viewer .form-head-controls,
#Iviewer .form-head-controls {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between
}


/* This is the paganate part in the header -> control which is the active page in the form builder */

#viewer .page-controls,
#Iviewer .page-controls {
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 5px;
    max-width: 250px;
}

#viewer .page-controls button,
#Iviewer .page-controls button {
    background: none;
    border: none;
    color: #005cfb;
}

#viewer #tabs .tab,
#Iviewer #Itabs .tab {
    display: inline-block;
}

#viewer #tabs .tab a,
#Iviewer #Itabs .tab a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.input-form-card {
    flex: 1;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    /*margin-bottom: 120px;*/
    padding: 45px;
}

.if-hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.if-page-font{
    font-size: smaller;
}
#viewer #pages,
#Iviewer #Ipages {
    flex: 1;
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 120px;
}


/*input form border delete*/

.if-border-del {
    border: none !important;
    margin-bottom: 0;
}


/* #Iviewer .pages {
    padding: 45px 30px;
} */

#viewer #pages .page,
#Iviewer #Ipages .page {
    padding: 45px;
    display: none;
}

.if-padding-del {
    padding: 0 !important;
}

#viewer #pages>.page:first-child,
#Iviewer #Ipages>.page:first-child {
    display: block;
}

#viewer #pages>.page>.button-group,
#Iviewer #Ipages>.page>.button-group {
    display: block;
}

#viewer #pages>.page>.button-group>.remark-label,
#Iviewer #Ipages>.page>.button-group>.remark-label {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.remark-label>.remark,
.remark-label>.Iremark {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

#viewer .name,
#Iviewer .name {
    display: flex;
    align-items: center;
    height: 30px;
}


/* #viewer #pages>.page>.button-group.next>.remark {
    display: none;
} */

.internal-message {
    height: 300px !important;
}


/* #viewer section,
#Iviewer section {
    margin-bottom: 10px;
} */

#viewer section>.tools,
#Iviewer section>.tools {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 10px;
    border-radius: 5px;
}


/* Container of 2 columns */

#viewer section .content,
#Iviewer section .content {
    flex: 1;
    display: flex;
    padding: 0;
}


/* Column container -> even when theres 2 columns */

#viewer section .content .column,
#Iviewer section .content .column {
    flex: 1;
    margin: 10px 0px;
    padding: 20px;
    border: 1px dashed #dadada;
    border-radius: 5px;
}

.input-column {
    border: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#viewer section .content .column:nth-child(2),
#Iviewer section .content .column:nth-child(2) {
    margin-left: 10px;
}


/* Style when you drag a form element to the input form area */

.ui-droppable-active {
    border: 1px dashed #649dff !important;
    background: #8cfaad;
    /*#fcfef2;*/
}


/* This is when you are about to drop the dragged elements */

.ui-droppable-hover {
    background: #e5eeff !important;
}


/* ============================================*/


/* RIGHT SIDEBAR AREA -> Context Information + Form Elements */


/* ============================================*/

#viewer section .content .column.ui-droppable-hover,
#Iviewer section .content .column.ui-droppable-hover {
    border: 1px dashed #ccc;
    background-color: #fafafa;
}


/* Label + input field container */

#viewer section .content .column .field,
#Iviewer section .content .column .field {
    display: flex;
}

#viewer section .content .column .field .wrapper,
#Iviewer section .content .column .field .wrapper {
    position: relative;
    width: 100%;
}

#viewer section .content .column .field .wrapper .tools,
#Iviewer section .content .column .field .wrapper .tools {
    display: none;
    flex: 3;
    text-align: right;
}

#viewer section .content .column .field .wrapper .tools>a #Iviewer section .content .column .field .wrapper .tools>a {
    cursor: pointer;
    margin: 0 2px;
    color: #d7d7d7;
}

#viewer section .content .column .field .wrapper .tools>a:hover,
#Iviewer section .content .column .field .wrapper .tools>a:hover {
    color: #2579d1;
}

#viewer section .content .column .field:hover .wrapper .tools,
#Iviewer section .content .column .field:hover .wrapper .tools {
    display: flex;
    justify-content: flex-end;
}


/* Label of the input fields */

#viewer section .content .column .field .wrapper .input-row>div:first-child,
#Iviewer section .content .column .field .wrapper .input-row>div:first-child {
    display: block;
}


/* input fields */

#viewer section .content .column .field .wrapper .input-row>div:last-child,
#Iviewer section .content .column .field .wrapper .input-row>div:last-child {
    display: block;
}

#viewer section .content .column .field .wrapper .input-row input,
#viewer section .content .column .field .wrapper .input-row select,
#Iviewer section .content .column .field .wrapper .input-row input,
#Iviewer section .content .column .field .wrapper .input-row select {
    width: 100%;
    border: 1px solid #d0d0d0;
    padding: 5px 8px;
    border-radius: 3px;
}

#viewer section .content .column .field .wrapper .input-row .input-field input,
#Iviewer section .content .column .field .wrapper .input-row .input-field input {
    margin-bottom: 0;
}

#viewer section .content .column .field .wrapper .input-row .checkbox input,
#Iviewer section .content .column .field .wrapper .input-row .checkbox input,
#viewer section .content .column .field .wrapper .input-row .radio input,
#Iviewer section .content .column .field .wrapper .input-row .radio input {
    /* width: 10%; */
    width: 22px;
    height: 22px;
    margin-left: 0 !important;
    position: static !important;
}

.p-margin {
    margin-bottom: 0px;
}

.hr-margin {
    margin-top: 5px;
}


/* ---------- /viewer ---------- */

#components {
    flex: 1;
    flex-flow: column nowrap;
}

#components .editor-container,
#components .browser-container {
    flex: 1;
    flex: 0 0 50%;
    height: 43%;
    width: 100%;
    /* To "Temporarily" fix the UI error -> Flexbox is doing something weird with the height */
    overflow: hidden;
    padding-bottom: 40px;
}

#components .editor-container,
#components .browser-container .widget-title {
    border-top: 1px solid #e5e9f2;
}

#components #editor>div {
    margin-bottom: 20px;
}


/* CONTEXT INFORMATION - AREA */


/* Textboxes inside the Options Context Area - Add space to each textbox option */


/* Context Information Textbox Styles */

#components #editor .options input[type=text] {
    margin-bottom: 5px;
}

#components #editor .options .dropdown {
    margin: 0px;
}

#components #editor select {
    border-radius: 5px;
}

#components #editor>* {
    display: none;
}

#components #browser {}

#components #browser li {
    cursor: pointer;
    padding: 2px 0;
}

#components .name {
    display: flex;
    align-items: center;
    height: 30px;
}


/*  ======================================= Inline-style transformed class ======================================= */

.display-none {
    display: none;
}

.width-80 {
    width: 80px;
}

.padding-20 {
    padding: 20px;
}

.label-red {
    color: red;
}


/*  dropbox's select tag */

.margin-bottom-0 {
    margin-bottom: 0 !important;
}