/* ============================================*/
/* DIRECTORY */ 
/* ============================================*/
/*
1. VARIABLES
2. GENERAL STYLES
3. FOUNDATION ZURB OVERIDES
4. CONFIGURE CUSTOMER PROFILE
6. DATA TABLE STYLES
7. SIDE BAR STYLES
8. DASHBOARD
9. MANAGE CUSTOMER PROFILE
11. FORM ELEMENTS
12. UPLOAD WIDGET
13. STATS AREA WIDGET
14. CUSTOM SCROLL BAR
15. CUSTOM TABS
16. MAP INPUT FORM
17. ASSIGN CAMPAIGN LIST
18. FORM BUILDER
19. INPUT FORM
20. Outbound/Inbound Main Page
21. Inbound
*/


/* ============================================*/
/* 1. VARIABLES */
/* ============================================*/
$global-radius: 5px;
$form-spacing: rem-calc(16);
$paddingRight: 6px;

/* === Colors === */
$white : #FFFFFF;
$medium-gray: rgb(229,233,242);
$main-theme: #005CFB;
$light-blue: #EDF4FF;
$body-bg-gray: #f4f5f7;
$label-gray: rgb(179,179,179);
$main-grey: rgb(249,250,252);
$dark-gray: #3C4858;

/* Use this for body text */
$steel-gray: #A6A6A6; /* Gray 700 */ /* This is for the small caps on the table header */
$metal-gray: #E5E9F2; /* Use this ^ color for borders + line dividers */
$mist-gray: #f4f5f7; /* Gray 200 */ /* Use this ^ color for gray buttons + main background color of the pages */
$mist-gray-active: #EFF3FC; /* Use this ^ for active states of the gray button */

$input-border-color:#dbdee6; /* light gray border for textboxes */



/* ============================================*/
/* 2. GENERAL STYLES */
/* ============================================*/

body{
  background: $body-bg-gray;
  width: 100%;
  font-size:15px;
  font-family: 'Roboto Regular', Arial !important;
  color: $dark-gray;
  overflow:hidden;

  h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Regular','Roboto', sans-serif, Arial !important;
    a{
      font-family: 'Roboto', sans-serif, Arial !important;
      text-decoration: none;
    }
    a:hover{
      text-decoration: none;
    }
  }
}

/* put this to all vector icons - to have better control on them */
.i-icon{
  display: inline-block;
}

/* Use this 2 to add spacings to icons inside buttons */
.i-icon-right{ margin-left: 5px; } /* If the icon is at the LEFT of the text inside the button */
.i-icon-left{ margin-right: 5px; } /* If the icon is at the RIGHT of the text inside the button */

/* Global styling to the value inside textboxes */
input{ font-size: 1em; }

.disabled {
  pointer-events: none;
  cursor: default;
  .button {
    opacity: 0.5;
  }
}

.disabled-button{
  @extend .disabled;
  opacity: 0.5;
}
/* The part below needs access to the ico moon icons. */
@font-face {font-family: 'icomoon'; src:  url('fonts/icomoon.eot?aw545q');src:  url('fonts/icomoon.eot?aw545q#iefix') format('embedded-opentype'),url('fonts/icomoon.ttf?aw545q') format('truetype'),url('fonts/icomoon.woff?aw545q') format('woff'),url('fonts/icomoon.svg?aw545q#icomoon') format('svg');font-weight: normal;font-style: normal;}
.font-weight-bold{font-weight: bold;}

/* ================ LAYOUT STYLES ==================== */

/* mainly use to control max width of ALL elements */
/* Use this to all the parent containers of the system -> to keep elements from getting to wide + consistency */
.container{
  max-width: 1350px;
  margin:0px auto;
}

/* Contain body area of most pages except dashboard */
.page-container{
  padding: 30px 0px 70px;
  overflow: auto;
  max-height: 100vh;
  min-height: 600px !important;
}

/* Use this style for the sidebar/main card UI screen combo */
.main-card{
  background: $white;
  border: 1px solid $metal-gray;
  border-radius: $global-radius;
  padding: 45px;
  margin-bottom: 15px;
}

.card{
  border: 1px solid $medium-gray;
  border-radius:  $global-radius;
  background: $white;
}

/* This is the main title of each section */
/* Add space at the bottom of h3s (basically the page titles) */
.content-divide{
  > h3{
    margin-bottom: 30px;
  }
}

/* similar to .content-divide but this is for submit buttons/ end of main content */
.content-ender{
  border-top: 1px dashed $metal-gray;
  padding-top: 15px;
  text-align: right;
  margin-top: 15px;
}

/* =================== NAVIGATION STYLES ===================== */
/* This is foundations main stylings */
.top-bar{
  height: 60px;

  .logo img{
    /* control the size of the logo */
    max-width: 150px;
    padding: 0 1.22917rem;
  }

  /* This is the Users Picture in the navigation part */
  .circle-top{
    border-radius:50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 2px;
    background: none;
    margin-right: 10px;
    border: 2px solid #ffffff;
  }

  .top-bar-section ul li>a{
    /* make the text in the navigation same to our body text */
    font-size: 1em;
    font-weight: normal;
  }
}

/* ======================= POPUP STYLES ========================== */
@mixin PopupBackground {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  min-height: 10px;
  min-width: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.i-popup {
  @include PopupBackground;

  /* main window of the popup */
  .pop-up-content, .pop-up-content-small, .pop-up-content-height-820 {
    background: $white;
    border-radius: 5px;
    /* Position body by using absolute centering */
    overflow: hidden;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .pop-up-content{
    max-width: 1250px;
    max-height: 750px;
  }

  .pop-up-content-height-820{
    max-width: 500px;
    max-height: 820px;
  }

  .pop-up-content-small{
    max-width: 500px;
    max-height: 600px;
  }

  .pop-header{
    padding: 10px 30px;
    border-bottom: 1px solid $metal-gray;

    .pop-title, .pop-exit-btn{
      display: inline-block;
    }
  
    /* title of the popup area */
    .pop-title{
      margin: 0px;
    }
  
    /* close popup button */
    .pop-exit-btn{
      background: none;
      color: $main-theme;
      padding: 5px 0px;
      border: none;
    }
  }

  .pop-body {
    height: calc(100% - 127px);
    padding: 30px 30px 100px;
    overflow: auto;
    height: 100%;
  }

  .bottom-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $primary-color;
    .btn-half{
      border-radius: 0 0 $global-radius $global-radius;
      width: 50%;
    }
    .btn-half:first-child(){
      border-right: 1px solid $white;
    }
  }
}

/* ======================= FILTER STYLES ========================== */
div#showFilter{
  /* make sure filter area spans the whole width */
  /* done this because the animation looks bad on .collpasing mode and can't control this with class */
  width: 100% !important;
}

.outer-padding{
  background: $mist-gray;
  border: 1px solid $metal-gray;
  padding: 45px 30px;
  margin-top: 30px;
  border-radius: $global-radius;
}

.inner-padding{
  max-width: 700px;
  margin: auto;

  .filter-inputs {
    clear: both;
    > div{
      /* style the textboxes/select dropdowns*/
      width: 30%;
      float: left;
      margin-bottom: 10px;
    }

    /* Fit the delete icon inside the row of the textboxes/select */
    .remove-icon{
      text-align: center;
      padding-top: 10px;
      width: 10%;
      
      .i-icon:before{
        color: $main-theme;
      }
    }

    .Select-control{
      background: $white;
      background-image: none;
    }

    /* control the height of individual select boxes under a row + icon container + parent divs height */
    .Select-control:nth-child(1), .Select-control:nth-child(2), input, .remove-icon, .expanded{
      height: 40px;
    }

    /* Adjust the border radius of each textbox to fit design */
    /* 1st Select box */
    .Select-control:nth-child(1){
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
      border-right: none;
    }
    /* 2nd Select box */
    .Select-control:nth-child(2){
      border-radius: 0;
      border-right: none;
    }
    /* 3rd Select box */  
    input{
      border-top-left-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }
  }

  /* Hide all the clear buttons inside this filter */
  .Select-clear-zone{
    display: none;
  }

  /* created a new class to customize this textbox to look like the design */
  /* Select dropdown without the textbox-ish background */

  /* 1. Removed textbox background */
  /* 2. Remove select default styles (shadows and stuff) */
  /* 3. Remove 'x' button */
  /* 4. Fix width of the 'delete a row' button */
  .filter-text-select{
    margin-bottom: 15px;

    .Select-control{
      border-radius: none;
      box-shadow: 0 0px 0px 0px rgba(0,0,0,.16);
      -webkit-box-shadow: 0 0px 0px 0px rgba(0,0,0,.16);
    }

    .Select-input input{
      /* hide the 'typeable' area */
      padding: 0px;
      border: 0 !important;
      width: 0px;
    }

    .Select-value{
      padding: 0px;
    }
    .Select-value-label{
      color: $main-theme !important;
      font-weight: 600;
      cursor: pointer;
    }
    
  }
  .add-condition-link{
    margin-top: 10px;
    display: inline-block;
    font-weight: 600;

    .icon-add-16:before{
      color: $main-theme;
    }
  }
}

.label-row{
  margin-bottom: 7px;
}

/* ====================================================================*/
/* 3. FOUNDATION ZURB OVERIDES*/
/* ====================================================================*/

/* =============================== BASIC =============================*/
label{
  background: transparent;
  margin: 0;
  padding: 0;
}

.gray-label{
  color: $label-gray;
  font-size: smaller;
}

/* =============================== TYPOGRAPHY =============================*/
body, h1, h2, h3, h4, h5, h6{
  font-family: 'Roboto Regular', Arial !important;
}

h3{
  font-size: 18px;
  font-weight: 300;
}

/* ============================ TABLE EDITS ===========================*/
table{
  /* Remove default border */
  border: 0px;
  
  tbody tr:nth-child(even),tbody tr:nth-child(even){
  /* Remove default background color to table header + even tr tables */
  background-color: #ffffff;
  }

  thead, tbody{
  /* Remove border and background around header and body parts of the table */
    background: #ffffff;
    border:0px;
  }

  th span{
    /* Design layout for all table headers */
    font-size: 12px;
    font-weight: 300;
  }
  
  tr{
    border-bottom: 1px solid #E5E9F2;
  }

  tr td{
    /* Adjust the default spacing of 'td's */
    padding: 15px 10px;
    .combo-width{
      width: 100%;
    }
  }

  .highlight{
    font-weight: bold;
    background-color: $light-blue !important;
  }

  .highlight > td > label > span{
    font-weight: bold;
  }
}

.background-light-blue{
  background-color: $light-blue !important;
}

.background-transparent{
  background-color: "transparent" !important;
}

/* ============================ INPUT ELEMENTS EDITS ===========================*/

/* Basic style for textboces throughout the app */
input{
  /* remove default shadow effects */
  border-radius: $global-radius !important;
  border:1px solid $input-border-color;
}

input:focus{
  /* when input is picked */
  /* border: 1px solid $main-theme !important;*/
}


input[type="text"]{
  margin: 0;
  border: 1px solid $input-border-color;
}

input:not([type]){
  border-style: none;
  box-shadow: none;
}

/* input select - ICombo */
.combo-width{
  .Select{
    .Select-control:hover{
      box-shadow:none;
    }
  }
  input{
    /* this is done to counter our own styles */
    /* special case to styling input[select] because we are using a special plugin for it.*/
    background:none;
    border: none !important;
    padding: 0px;
  }
  .Select.is-focused{
    .Select-control{
      /* apply same styling to active input in this div to creat illusion same to our style */
      border: 1px solid $main-theme;
      border-radius: $global-radius;
      background: #FAFAFA;
    }
  }
  .Select-clear-zone{
    /* hide remove control button - Put back on other pages */
    display: none;
  }
}

fieldset[disabled] input:not([type]), fieldset[disabled] input[type=color], fieldset[disabled] input[type=date], fieldset[disabled] input[type=datetime-local], fieldset[disabled] input[type=datetime], fieldset[disabled] input[type=email], fieldset[disabled] input[type=month], fieldset[disabled] input[type=number], fieldset[disabled] input[type=password], fieldset[disabled] input[type=search], fieldset[disabled] input[type=tel], fieldset[disabled] input[type=text], fieldset[disabled] input[type=time], fieldset[disabled] input[type=url], fieldset[disabled] input[type=week], fieldset[disabled] textarea, input:not([type]):disabled, input:not([type])[disabled], input:not([type])[readonly], input[type=color]:disabled, input[type=color][disabled], input[type=color][readonly], input[type=date]:disabled, input[type=date][disabled], input[type=date][readonly], input[type=datetime-local]:disabled, input[type=datetime-local][disabled], input[type=datetime-local][readonly], input[type=datetime]:disabled, input[type=datetime][disabled], input[type=datetime][readonly], input[type=email]:disabled, input[type=email][disabled], input[type=email][readonly], input[type=month]:disabled, input[type=month][disabled], input[type=month][readonly], input[type=number]:disabled, input[type=number][disabled], input[type=number][readonly], input[type=password]:disabled, input[type=password][disabled], input[type=password][readonly], input[type=search]:disabled, input[type=search][disabled], input[type=search][readonly], input[type=tel]:disabled, input[type=tel][disabled], input[type=tel][readonly], input[type=text]:disabled, input[type=text][disabled], input[type=text][readonly], input[type=time]:disabled, input[type=time][disabled], input[type=time][readonly], input[type=url]:disabled, input[type=url][disabled], input[type=url][readonly], input[type=week]:disabled, input[type=week][disabled], input[type=week][readonly], textarea:disabled, textarea[disabled], textarea[readonly]{
  background-color: $metal-gray;
  opacity: 0.6;
}



/* =============================== SWITCH TOGGLE EDITS =======================*/
/* We customized zurbs switch toggle to like our design */
.switch{
  /* Remove default margin bottom */
  margin-bottom: 0px;

  label:after{
    /* align toggle switch in the middle */
    top:3px;
  }

  label{
    background: $metal-gray;
  }
}

.switch.small{
  height: 20px;
}

.switch.small label{
  /* Change dimensions of the BODY of the "small" toggle switch of zurb */
  height: 20px;
  width: 42px;
  float: left;
}

.switch.small label:after{
  /* Change the size of the switch white circle toggle */
  height: 14px;
  width: 14px;
}

.switch.small input:checked+label:after{
  /* Active state of the toggle switch */
  left:24px;
}

.small-switch{
  margin-bottom: 0px;
  height: 20px;
  width: 42px;
  float: left;
}
.small-switch span:after{
  /* Change the size of the switch white circle toggle */
  height: 14px;
  width: 14px;
}

.small-switch input:checked+span:after{
  /* Active state of the toggle switch */
  left:24px;
}

/* =============================== CHECK-BOX RADIO =======================*/
.checkbox, .radio{
  display: flex;
  vertical-align: middle;
  margin-top: 5px;
  label{
    padding-left: 0;
  }
}

.radio{
  margin-bottom: 0;
}
/* =============================== BUTTON EDITS =======================*/

.button.small, button.small{
  max-height: 30px;
  padding: 6px 15px;
  font-size: 0.929em;
}

.button, button, input[type="checkbox"]:checked{
  font-size: 0.929em;
  font-weight: 600;

  background:#005cfb; //rgb(0,92,251);
  background-image: -webkit-linear-gradient(top, #005cfb, #005fdb);
  background-image: -moz-linear-gradient(top, #005cfb, #005fdb);
  background-image: -ms-linear-gradient(top, #005cfb, #005fdb);
  background-image: -o-linear-gradient(top, #005cfb, #005fdb);
  background-image: linear-gradient(to bottom, #005cfb, #005fdb);
  border: solid #044ac2 1px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-decoration: none;

  .i-icon::before{
     color: $white;
  }
}

.button:hover, button:hover {
  background: #005cfb;
  background-image: -webkit-linear-gradient(top, #005cfb, #0057c2);
  background-image: -moz-linear-gradient(top, #005cfb, #0057c2);
  background-image: -ms-linear-gradient(top, #005cfb, #0057c2);
  background-image: -o-linear-gradient(top, #005cfb, #0057c2);
  background-image: linear-gradient(to bottom, #005cfb, #0057c2);
  text-decoration: none;
}

/* Gray Button Style for - Gray Buttons / Input select / Filter button */
.grey-button, Select-control, input[type=checkbox], a.dt-button, button.dt-button, div.dt-button{
  background: #eff3fc;
  background-image: -webkit-linear-gradient(top, $main-grey, #eff3fc);
  background-image: -moz-linear-gradient(top, $main-grey, #eff3fc);
  background-image: -ms-linear-gradient(top, $main-grey, #eff3fc);
  background-image: -o-linear-gradient(top, $main-grey, #eff3fc);
  background-image: linear-gradient(to bottom,  $main-grey, #eff3fc);
  // background-image: -webkit-linear-gradient(top, #eff3fc, #e6eaf2);
  // background-image: -moz-linear-gradient(top, #eff3fc, #e6eaf2);
  // background-image: -ms-linear-gradient(top, #eff3fc, #e6eaf2);
  // background-image: -o-linear-gradient(top, #eff3fc, #e6eaf2);
  // background-image: linear-gradient(to bottom, #eff3fc, #e6eaf2);
  border: solid $input-border-color 1px;
  color: #333;
  font-weight: 400;

  .i-icon:before{
    color: $dark-gray;
  }
}

.grey-button:focus, .grey-button:hover{
  background: #eff3fc;
  background-image: -webkit-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -moz-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -ms-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -o-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: linear-gradient(to bottom, #eff3fc, #d6dbe6);
  color: #333;
  outline: none;
}
/* ============================================*/
/* 4. CONFIGURE CUSTOMER PROFILE */
/* ============================================*/

#cfg_cus_pro{
  /* Remove some elements from data table that doesnt apply for this pages table */
  #dataTablefix_wrapper, #dataTablecustom_wrapper{
     .dataTables_length /* This is the table row quantity drpodown */,
     .dataTables_filter /* This is the search textbox */,
     .dataTables_info /* This is the 'showing 1 to 10 entries' text */,
     .dataTables_paginate, .paging_simple_numbers /* This is the paganate part */{
       display: none;
     }
     tr th:last-child(){
       text-align: right;
     }
     .switch.small label{
       float: right;
     }
  }

  /* Only add bottom paddings to data tables for this page */
  .dataTables_wrapper{
    padding-bottom: 45px;
  }

  #dataTablecustom_wrapper .scroll_table{
    overflow: unset;
  }
  #dataTableconfig-cus-fix {
    input[type=checkbox]{
      position: fixed;
    }
    thead th:nth-child(3){
      text-align:right;
    }
  }
}



/* ============================================*/
/* 6. DATA TABLE STYLES
/* ============================================*/
.dataTable{
  /* UPDATE DATA TABLES STYLES TO OUR DESIGN */
  /* This is the table with the sorting + search capabilities */

  /* remove default borders to table heads and footers */
  border:none !important;

  /* ALL the td's and ALL the th's inside a data table */
  thead th, .no-footer, thead td, thead th, tbody td, tbody th{
    border-bottom: 1px solid $metal-gray !important;
    padding: 15px 5px !important;
  }

  tr td{
    /* change default table cell text styling */
    font-size: 1em;
    color: $dark-gray;

    input[type=checkbox]{
      margin: 0px;
    }
  }

  tr{
    /* change color of border dividers in side table */
    align-items: center;
    max-height: 60px;
  }
}

.dataTables_scroll, .scroll_table{
  overflow: auto;
  clear:both;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: none;
  overflow: initial !important;
}

  .Select-arrow:after{
    font-family: 'icomoon' !important;
    content: "\e937";
    color: #A8C7FC;
  }
  .Select-arrow{
    border: none;
    display: inline;
  }

  /* This is for adding icons for sorting buttons */
  /* DEFAULT */ /* ASCENDING */ /* DESCENDING */
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after{
    font-family: 'icomoon' !important;
    margin-left: 10px;
  }

  /* DEFAULT */
  table.dataTable thead .sorting:after {
    @extend .icon-select-16-defaut:before;
  }
  /* ASCENDING */
  table.dataTable thead .sorting_asc:after {
    @extend .icon-select-16-desc:before;
  }
  /* DESCENDING */
  table.dataTable thead .sorting_desc:after {
    @extend .icon-select-16-asc:before;
  }
  
  table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc {
    background-image: none;
  }


// CSS to add checkboxes to colvis items
/* Outer container of the popup checkbox columns area */
.dt-button-collection{
  width: 300px !important;
}

/* All the column divs inside the content */
div.dt-button-collection button.dt-button, div.dt-button-collection div.dt-button, div.dt-button-collection a.dt-button{
  width: 49%;
  display: inline-block;
}

.dt-button-collection a.buttons-columnVisibility:before,
.dt-button-collection a.buttons-columnVisibility.active span:before,
.dt-button-collection a.buttons-colvisGroup:before,
.dt-button-collection a.buttons-colvisGroup.active span:before,
 {
 display:block;
 position:absolute;
 top:1.2em;
 left:0;
 width:12px;
 height:12px;
 box-sizing:border-box;
 }

 /* Checkbox design for the inactive mode */
 .dt-button-collection a.buttons-columnVisibility:before{
  content:' ';
  margin-top: -9px;
  margin-left: 7px;
  background: #eff3fc;
  background-image: -webkit-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -moz-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -ms-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: -o-linear-gradient(top, #eff3fc, #d6dbe6);
  background-image: linear-gradient(to bottom, #eff3fc, #d6dbe6);
  border: solid $input-border-color 1px;
  color: $white;
  border-radius: 3px !important;
  padding:8px;
}

 /* Inavtive divs/column containers */
 .dt-button-collection{
  button.dt-button, div.dt-button, a.dt-button, a.dt-button:focus, a.dt-button:hover{
    background: $white;
    background-image: none;
    border: none;
   }
 }

 /* Text inside the filter / text next to the checkbox */
.dt-button-collection a.buttons-columnVisibility span,
.dt-button-collection a.buttons-colvisGroup span {
 margin-left:18px;
 }

/* ACTIVE COLUMNS STYLES */

 /* Checkbox design for the active mode */
 .dt-button-collection a.buttons-columnVisibility.active:before{
    content:' ';
    margin-top: -9px;
    margin-left: 7px;
    background: #005cfb;
    background-image: -webkit-linear-gradient(top, #005cfb, #005fdb);
    background-image: -moz-linear-gradient(top, #005cfb, #005fdb);
    background-image: -ms-linear-gradient(top, #005cfb, #005fdb);
    background-image: -o-linear-gradient(top, #005cfb, #005fdb);
    background-image: linear-gradient(to bottom, #005cfb, #005fdb);
    border: solid #044ac2 1px;
    color: $white;
    border-radius: 3px !important;
    padding:8px;
    border:none;
  }

/* This is the check icon used on active mode */
.dt-button-collection a.buttons-columnVisibility.active span:before,
.dt-button-collection a.buttons-colvisGroup.active span:before {
  font-family: 'icomoon' !important;
  content: "\e913";
  color: $white;
  font-size: 10px;
  margin-top: -4pxpx;
  margin-left: 9px;
  text-align:center;
 }

 /* This is the div around the active columns */
 div.dt-button-collection button.dt-button:active:not(.disabled), div.dt-button-collection button.dt-button.active:not(.disabled), div.dt-button-collection div.dt-button:active:not(.disabled), div.dt-button-collection div.dt-button.active:not(.disabled), div.dt-button-collection a.dt-button:active:not(.disabled), div.dt-button-collection a.dt-button.active:not(.disabled){
   border: none;
   background-color: $white;
   box-shadow: none;
   background-image: none;
 }

 /* This is the hover mode of the active divs/columns */
 button.dt-button:active:not(.disabled):hover:not(.disabled), button.dt-button.active:not(.disabled):hover:not(.disabled), div.dt-button:active:not(.disabled):hover:not(.disabled), div.dt-button.active:not(.disabled):hover:not(.disabled), a.dt-button:active:not(.disabled):hover:not(.disabled), a.dt-button.active:not(.disabled):hover:not(.disabled){
  box-shadow: none;
  background-image: none;
  background: $light-blue;
 }

 /* Search input -> remove annoying space on the left */
 .dataTables_wrapper .dataTables_filter input{
   margin-left: 0px;
 }

 /* DISABLED BUTTONS - This shows only when you hit the maximum column limit */
 a.dt-button.buttons-columnVisibility.disabled {
  opacity: .7;
}

.table-icon-a-tag{
  text-decoration: none !important;
}
.table-icon:before{
  color: $main-theme !important;
}

/* ============================================*/
/* 7. SIDE BAR STYLES
/* ============================================*/

.sidebar-header{
  font-weight: 700;
  text-transform: uppercase;
  color: $steel-gray;
  font-size: 12px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.sidebar-card{
  background: $white;
  border: 1px solid $metal-gray;
  border-radius: $global-radius;
  margin-right: 30px;
  padding: 30px 0px;

}

.sidebar-links-group li{
  list-style-type: none;

  .sidebar-link{
    display:block;
    padding: 5px 30px;
    text-decoration: none;

    .link-icon, .link-text{
      color: $dark-gray;
    }

    .link-icon{
      font-size: 24px;
      vertical-align: middle;
    }

    .link-text{
      padding-left: 15px;
    }

    // /* Handle Active Mode */
    // &:hover, &:active{
    //   background-color: #EDF4FF;

    //   .link-icon:before, .link-text{
    //     color: $primary-color;
    //   }
    //   .link-text{
    //     font-weight:700;
    //   }
    // }


    /* Handle focus mode */
    &:focus{
      background-color: $mist-gray-active;
      
      .link-icon:before, .link-text{
        color: $primary-color;
      }
      .link-text{
        font-weight:700;
      }
    }
  }
  
    /* Active Class Added */
    .sidebar-active{
      background-color: $light-blue;

      .link-icon:before, .link-text{
        color: $primary-color;
      }
      .link-text{
        font-weight:700;
      }
    }
}


.num-button{
  background: $main-grey;
  border: solid $metal-gray 0.5px;
  color: #333;
  font-weight: 400;
  width: 86px;
  text-align: unset;
}

.center-text{
  text-align: center !important;
}

.hold-btn{
  border-radius: $global-radius 0px 0px $global-radius !important;
  font-size: 10px;
  padding: 2px 0 0 0;
}

.conference-btn{
  font-size: 18px;
  padding: 3px 0 0 0;
}

.lightgrey-color:before{
  color: lightgrey !important;
}

.transfer-btn{
  border-radius:  0px $global-radius $global-radius 0px !important;
  padding: 8px 0 4px 0;
}

.top-left-radius{
  border-radius: $global-radius 0px 0px 0px !important;
}

.top-right-radius{
  border-radius: 0px $global-radius 0px 0px !important;
}

.btm-right-radius{
  border-radius: 0px 0px $global-radius 0px !important;
}

.btm-left-radius{
  border-radius: 0px 0px 0px $global-radius !important;
}


.star-sign{
  padding: 15px 20px 6px 20px;
  font-weight: bold;
}

.num-button:focus{
  background: $main-grey;
  color: #333;
}

.num-button:hover{
  background: rgb(239,242,247);
  color: #333;
}

.num-button:active{
  background: $metal-gray
}

/* ============================================*/
/* 8. DASHBOARD */
/* ============================================*/

.dashboard-features{
  padding-top: 45px;

  .feature-card{
    background: $white;
    border: 1px solid $metal-gray;
    border-radius: $global-radius;
    min-height: 250px;
    margin: 0px 15px 30px;
    padding: 40px;
    cursor: pointer;
    text-align: center;
  }

  .feature-img{
    display: block;
    margin: 0px auto;
    max-height: 90px;
    padding-bottom: 30px;
  }

  .feature-title{
    font-weight: 700;
  }

  .feature-desc{
    font-size: 1em;
  }
}

.row{
  /* do this for the last feature card so it follows the flow of the cards */
  .columns:last-child{
    float: left;
  }
}



/* ============================================*/
/* 9. MANAGE CUSTOMER PROFILE */
/* ============================================*/

#manage_cus_pro, #outbound_home, #outbound_call{
  /* Remove some elements from data table that doesnt apply for this pages table */
  // #resultDataTable_wrapper{
  //    .dataTables_length /* This is the table row quantity drpodown */,
  //    .dataTables_filter /* This is the search textbox */,
  //    .dataTables_info /* This is the 'showing 1 to 10 entries' text */,
  //    .dataTables_paginate, .paging_simple_numbers /* This is the paganate part */{
  //      display: none;
  //    }
  // }

  /* This is for the select dropdown option - Limit the width so arrow sits next to the text */
  .filter-text-select .Select--single .Select-control{
    width: 210px;
    background: none;
    background-image:none;
    border: 0px;
  }

  /* Data table for the page */
  #resultDataTable_wrapper, #agentCallTable{
    overflow: auto;
  }
  /* replace this later on by adding padding instead of a fix width */
  #resultDataTable, #agentCallTable{
    width: 100% !important;
    .icon-edit-16:before{ color: $main-theme; }
    .icon-zoom-in-16:before{ color: $main-theme; }
  }

  /* remove tabs sapcing just for this page */
  .tabs-container{
    padding-top: 0px;
    margin-bottom: 15px;
  }

  .history-filter-area{
    /* filter window that pops up */
    #advanceFilter {
        background: #F9FAFC;
        padding: 45px;
        margin: 15px 0px;
        border: $metal-gray 1px solid;
        border-radius: 5px;
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: 0px 0px 5px 3px #efefef;
        position: absolute;
        top: 40px;
        max-width: 500px;
        z-index: 1;

        > div{
          margin-bottom: 15px;

          /* Labels on top of the textbox */
          label{
            padding-bottom: 5px;
          }
        }
        /* Apply Filter button */
        button{
          margin-top: 15px;
        }
    }

    /* remove the space between the date picker textboxes */
    .react-datepicker__input-container, .react-datepicker, .react-datepicker-wrapper{display: block;}
    /* remove the delete button inside date picker  */
    .react-datepicker__close-icon{ display: block;}
  }

  /* Paganate Buttons */
  .paganate{
    display: inline-block;

    /* First Page Record Button */
    // a:nth-child(1){
    //   display: none;
    // }

    /* Last Page Record Button */
    // a:nth-child(4){
    //   display: none;
    // }

    .i-icon {
        padding: 10px;
        background: #f9fafc;
        border: 1px solid #E5E9F2;
        width: 39.48px;
        text-align: center;
    }

    .double-arrow{
      padding: 10px 0 !important;
    }

    .i-smallest{
      content: "<|"
    }
  }

  
  /* Change this later into .active class */
  .history-active{
    background: $mist-gray;
  }
      
  /* Contact History - Content */
  #history-area{
    border-top: 1px solid $metal-gray;
    margin: 15px 0px 0px;

    /* 1. HISTORY LIST */
    .history-list{
      padding:0px;

      .history-card:nth-child(1){
        border-top:none;
      }

      .history-card{
        cursor: pointer;
        border: 1px solid $metal-gray;
        border-bottom: 0px;
        padding: 30px 15px;
        position: relative;
        /* Container to flex the contents */
        .wd-subject, .no-subject{
          display: flex;
          flex-direction: row;
          align-items: center;

          .connection-type {
            /* Icon container */
            span{
              padding: 10px;
              border-radius: 5px;
              margin-right: 10px;
            }

            .icon-phone-16{background: #FF6700;}
            .icon-at-sign-16{background: #6A4C93;}
            .icon-fax-16{background: #40c9a2;}
            .icon-fb-16{background: #385998;}
            .icon-chat-16{background: #FFB400;}
            .icon-wechat-16{background: #62CA18;}


            /* Icon itself */
            span:before{
              color: $white;
            }
          }

          /* Subject + date/time */
          .info{
            white-space: nowrap;
            overflow: hidden;

            .subject{
              font-weight: 600;
              color: $dark-gray;
            }

            /* inbound + outbound icons */
            div span::before {
                font-size: 12px;
                margin-right: 5px;
            }
          }
        }
        // ================== left panel box triangle ==================
        .triangle{
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 20px 20px 0;
        }
  
        .pending-triangle{
          @extend .triangle;
          border-color: transparent rgb(248,196,74) transparent transparent;
        }
  
        .failed-triangle{
          @extend .triangle;
          border-color: transparent rgb(255,127,127) transparent transparent;
        }
      }
    }

    /* 2. HISTORY CONTENT */
    .history-content{
      padding: 0px 45px;

      .divide-content{
        border-bottom: 1px solid $metal-gray;
        padding: 30px 0px;
      }

      .hc-label{
        font-size: 0.867em;
        background: $mist-gray;
        padding: 2px 2px;
        border-radius: 5px;
      }

      /* Colors for the history type Icon */
      .icon-phone-16:before{color: #FF6700;}
      .icon-at-sign-16:before{color: #6A4C93;}
      .icon-fax-16:before{color: #40c9a2;}
      .icon-fb-16:before{color: #385998;}
      .icon-chat-16:before{color: #FFB400;}
      .icon-wechat-16:before{color: #62CA18;}

      /* Main Type + Subject Content */
      .hc-icon{
        font-size: 50px;
        float: left;
        width: 50px;
      }

      .hc-combo{
        margin-left: 60px;
        vertical-align: top;
          .hc-subject{
            font-size: 1.267em;
            display: block;
          }
      }

      .display-table{
        display: table;
      }

      .row-span-label{
        vertical-align: middle;
        display: table-cell;
        padding-right: 15px;
      }

      .ch-label{
        vertical-align: middle;
        padding-right: 15px;
      }

      .two-rowspan{
        display: table-cell;
        white-space: pre-line;
      }

      .hc-participants{
        > div {
          display: inline-block;
        }
      }

      .hc-message-content{
        display: block;

        .wrap{
          display: block;
          white-space: pre-line;
        }
      }

      .hc-attachments a{
        display: inline-block;
        padding: 5px;
        margin: 10px 5px 0px 0px;
        border: 1px solid $mist-gray;
      }

      .hc-agent{
        font-weight: 700;
      }

      .hc-date{
        font-style: italic;
        font-weight: 100;
        color: #777;
      }
    }
  }
}

/* ============================================*/
/* 10. UPLOAD ADDRESS BOOK */
/* ============================================*/

#upload_cus_pro{
  .upload-card{
    height: 600px;
    .centered-content{
      display: table;
      margin: 0 auto;
      position: relative;
      top: 10%;
      .upload-btn{
        padding: 5px 0 5px 0;
      }
      .confirm-btn{
        padding: 5px 0 35px 0;
      }
    }
  }
  
  /* Remove some elements from data table that doesnt apply for this pages table */
  #dataTableconfirm-click-grid_wrapper{
     .dataTables_length /* This is the table row quantity drpodown */,
     .dataTables_filter /* This is the search textbox */,
     .dataTables_info /* This is the 'showing 1 to 10 entries' text */,
     .dataTables_paginate, .paging_simple_numbers /* This is the paganate part */{
       display: none;
     }
  }
  #dataTableuploadResult_wrapper{
    #dataTableresult_info,/* remove "showing 1 to 2 of 2 entries */
    #dataTableresult_length{ 
      display: none; 
    } 
  }
  #dataTableExistingRow_wrapper{
    .dataTables_filter{
      display: none;
    }

    tr{
      /* Make the select button fixed to the left */
      td:first-child(){
        -webkit-box-shadow: 10px 0 5px -2px $mist-gray;
        box-shadow: 10px 0 5px -2px $mist-gray;
        text-align: center;
        background: $white;
      }
    }
  }

  /* Result area warning / error counters. "3 Records with duplicated found:" */
  .labelDivider{
    display: block;
    padding: 30px 0px;
    border-top: 1px dashed $metal-gray;
  }

  .upload-error{
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    .icon-warning-16:before{
      color: red;
    }
  }
}

/* This is for the result area table with a GRAY background */
/* Duplicated but success table + error table */

/* DATA TABLE - Gray Background, Inner Shadow STYLE */
#dataTableuploadResult_wrapper.dataTables_wrapper, 
#dataTabledataError_wrapper.dataTables_wrapper,
#dataTablemandatoryError_wrapper.dataTables_wrapper,
#dataTableidError_wrapper.dataTables_wrapper{
  background: #f9fafc;
  border: 1px solid #E5E9F2;
  border-radius: 5px;
  padding: 45px 20px;
  box-shadow: inset 0 0 10px #dedede;
  margin-bottom: 30px;

  /* blend the back of table rows to background */
  tr{
    background: #f9fafc;
  }
}

.scroll_table{
  overflow: auto;
  clear:both;
  
  /* Add more spacing to table rows */
  #dataTableresult, 
  #dataTabledataError, 
  #dataTablemandatoryError,
  #dataTableidError, 
  #dataTableDuplicatedRow,
  #dataTableExistingRow{
    width: 1700px;
  }
}

/* 2 Tables in the popup after clicking through a duplicated record */
/* This layout is special to this page */
#dataTableExistingRow_wrapper, #dataTableDuplicatedRow_wrapper{

  > .scroll_table{
    border: 1px solid $metal-gray;
  }

  /* Hide the "Choose which row to display button for this page" */
  div.dt-buttons{
    display: none;
  }
}


.pop-content-divide{
  margin-bottom: 45px;
}



/* ============================================*/
/* 11. FORM ELEMENTS */
/* ============================================*/
input[type="checkbox"]{
  -webkit-appearance: none;
  background-color: #FFFFFF;
  border: 1px solid #C0CCDA;
  padding: 8px;
  border-radius: 3px !important;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}

input[type="checkbox"]:active, input[type="checkbox"]:checked:active {
box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

input[type="checkbox"]:checked {
color: #FFFFFF;
border-radius: 3px !important;
}

input[type="checkbox"]:checked:before {

/* This is a copy of the styles for icomoon - used this to copy the layout of our design */
font-family: 'icomoon' !important;font-style: normal;font-weight: 800;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;
content: "\e913";
font-size: 10px;
position: absolute;
top: 4px;
left: 4px;
color: #FFFFFF;
}

.radio-buttons{
  position: relative;

  input[type=radio]{
    position: absolute;
    visibility: hidden;
  }

  /* style of single radio button option */
  label{
    display: inline-block;
    position: relative;
    z-index: 0;
    cursor: pointer;
    padding: 0px 0px 10px 30px;
  }

  /* style of the outer part of the circle of the radio btn */
  .check{
    display: block;
    position: absolute;
    background: $white;
    border: 1px solid #cdd4de;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    z-index: 0;
    top: 2px;
  }

  /* style of the middle circle of the radion btn */
  .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 3px;
    left: 3px;
    margin: auto;
  }
  
  /* border of radio button when active */
  input[type=radio]:checked ~ .check {
  }
  
  input[type=radio]:checked ~ .check::before{
    background: $main-theme;
  }
  
  /* text label when active */
  input[type=radio]:checked ~ label{
  }
  
}


/* ============================================*/
/* 12. UPLOAD WIDGET */
/* ============================================*/
.upload-file{
  > div{
    /* Choose file button + the file name label */
    .react-file-reader, .i-label{
      display: inline-block;
    }
    .i-label{
      margin-left: 10px;
    }
  }
}
    
#dataTableuploadResult{
  .icon-edit-16:before{ color: $main-theme; }
}

/* ============================================*/
/* 13. STATS AREA WIDGET */
/* ============================================*/
.result-area{
  margin-bottom: 40px;
  /* Apply to duplicated + unsuccessful results */
  .content-divide .stats-area{margin: 0px 0px 45px !important; text-align: center;} 
  /* Apply to successful result */
  .content-ender .stats-area{ text-align: center;}
  
  .stats-area{
  
    /* put dividers to each stat combination */
    .stats{border-right: 1px solid $metal-gray;}
    .stats:last-child(){border-right: 0px;}
  
    /* contents of each stat */
    .stats-label, .value{
      display: block;
    }

  }

  /* checkbox + label + main CALL TO ACTION button */
  .cta{

    .checkbox-group{
      display:inline-flex;
      align-content: center;
      margin-right: 15px;
    }
    /* adjust checkbox size and padding */
    input[type=checkbox]{max-height: 16px; margin-top: 3px; margin-right: 5px;}
  }

  .content-ender{
    /* remove default margin put by zurb */
    margin: 0px;
  }
}



/* ============================================*/
/* 14. CUSTOM SCROLL BAR */
/* ============================================*/

/* Custom Scroll Bar */
/* Apply scroll bar to the ff: 

  body,
  .dataTables_scrollBody
  #resultDataTable_wrapper -> Manage Customer page
*/

  #table_wrapper > div::-webkit-scrollbar,
  .scroll_table::-webkit-scrollbar,
  .custom-scroll::-webkit-scrollbar {width: 8px;height: 8px;}

  /* Track */
  #table_wrapper > div::-webkit-scrollbar-track,
  .scroll_table::-webkit-scrollbar-track,
  .custom-scroll::-webkit-scrollbar-track {background: $mist-gray;}

  /* Handle */
  #table_wrapper > div::-webkit-scrollbar-thumb,
  .scroll_table::-webkit-scrollbar-thumb,
  .custom-scroll::-webkit-scrollbar-thumb {-webkit-border-radius: 8px;border-radius: 8px;background: #AECBFC; }
  
  #table_wrapper > div::-webkit-scrollbar-thumb:window-inactive,
  .scroll_table::-webkit-scrollbar-thumb:window-inactive,
  .custom-scroll::-webkit-scrollbar-thumb:window-inactive {background: #AECBFC; }


/* ============================================*/
/* 15. CUSTOM TABS */
/* ============================================*/
  .tabs-container, .tabs-container-2, .option-tabs{
    background: $white;
    border-bottom: 1px solid $metal-gray;
    list-style: none;
    h3{
      padding-bottom:20px;
    }
    .tabs{
      /* Overide zurbs */
      border: none;
      background: $white;
      /* position: relative; */
    }
    .tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
      /* Overide zurbs */
      /* ACTIVE or SELECTED tab link style */
      border: 1px solid $metal-gray;
      border-bottom:none;
      background: $mist-gray;
      border-top-left-radius: $global-radius;
      border-top-right-radius: $global-radius;
      font-weight: 700;
      /* position: absolute; */
    }
    .tabs-title>a{
      /* Overide zurbs styling on the tab links */
      color: $main-theme;
      font-size: 1em;
      outline: none;
      text-decoration: none;
      /* position: absolute; */
    }

    /* This is exclusively for the label in login screen */
    .content-divide h3{
      margin-top: 45px;
      padding-bottom: 0px;
    }
  }
  
  /* These are styles to the content area of the opened tab */
  .tabs-content{
    /* Style of the dashboard area of both tab */
    background: none;
    border:none;
    position: relative;
  }
  .tabs-panel.is-active{
    /* Style of the dashboard area of the selected tab */
    padding: 0px;
  }

  /* This has the same layout to tabs but on a gray background */
  .tabs-container-2{
    background: none;
    border-bottom: none;
    .tabs{
      background: none;
    }

    .tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
      background: $white;
    }
  }
  .tabs-content-2{
    background: $white;
    border-bottom: 1px solid $metal-gray;
    padding: 45px;
    border: 1px solid $metal-gray;
    border-radius: $global-radius;
  }

  /* This is the form tabs for INPUT FORM CREATION popup */
  .option-tabs{
    padding-top: 0px;
    border-bottom: 0px;

    .tabs-title{
      width: 50%;
      border: 1px solid $metal-gray;
    }
    .tabs-title:first-child(){
      border-right:0px;
    }
    /* Reset styles for this to copy the design */
    /* This is more of putting the style back to normal */
    .tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }



/* ============================================*/
/* 16. MAP INPUT FORM */
/* ============================================*/
#map_form{
  .gray-card-container{
    padding: 30px;
    border: 1px solid $metal-gray;
    border-radius: $global-radius;
    background: $mist-gray;
    min-height: 350px;
  
    /* This is ONLY for this type of gray box radio button because of the textbox next to the title */
    .title{
      margin-bottom: 30px;
    }
  }
  
  .label-input-group{
    .title, .Select{
      display: inline-block;
    }
    .Select{
      float: right;
      min-width: 200px;
    }
    div:nth-child(3){
      clear: both;
    }
  }
  
  #dataTableconfirm-click-grid{
    tbody tr td:nth-child(4){
      text-align: center;
    }
  }
}

#dataTableinbound-input-form, #dataTableoutbound-input-form{
  .icon-edit-16:before{ color: $main-theme; }
}


/* ============================================*/
/* 17. ASSIGN CAMPAIGN LIST */
/* ============================================*/
#assign_campaign{

  /* tabs container - attach the divider space here */
  .tabs{
    padding-bottom: 45px;
  }
  .tabs-container{ border-bottom: 0px; }
  .tabs-title{
    display: inline-block;
    width: 33.33333%;
    a{ border: 1px solid $metal-gray;; min-height: 100px; border-right: 0px}

    /* Icon + Text Group */
    .info-group{
      display: flex;
      align-items: center;

      /* Icon container */
      .icon-cont{ padding-right: 15px; 
        i::before{ font-size: 30px; }
      }
      /* Text container */
      .text-cont{
        span{ display: block; color: $dark-gray; }
        .title{margin-bottom: 5px;}
        .desc{font-size: 13px; line-height: 18px; font-weight: 500; }
      }
    }
  }
  /* remove border of the last box to copy layout of design */
  .tabs-title:last-child() a{border-right: 1px solid $metal-gray;}

  /* Active tab */
  .is-active{
    .icon-cont i::before{color: $main-theme;}
    .text-cont{ .title{ color: $main-theme !important; } }
  }
  
  /* adjust radio buttons ONLY for this page */
  .radio-buttons .check{
    top: 16px;
  }

  #dataTablecampaignTable{
    margin-bottom: 45px;
  }

  /* This just a special case - textbox with the special graphic background */
  .input-group-field{ border-radius:0px !important; }

  /* Last panel page content -> Summary of Campaign Assignment */
  #assign-panel-3{
    .overview-area{
      display: flex;
    }

    /* textbox container */
    .input-group{ 
      flex-grow: 2; 
      width: auto;     
      padding: 0px 90px;
      background: 
        url("../prod/assets/imgs/arrow-right.png") left no-repeat,
        url("../prod/assets/imgs/arrow-right.png") right no-repeat,
        url("../prod/assets/imgs/BG-strip.png");
      height: 40px;}
    /* textbox */
    .input-group-field{ height: 100%; }

    /* label value -> the 2 info labels next to the textbox in overview */
    .info-value-group{
      flex-grow:1;
      .info-label, .value{ display: block; }
      .info-label{ font-weight: 600;}
    }
    .info-value-group:nth-child(2){ text-align: right; }
  }
}



/* ============================================*/
/* 18. FORM BUILDER */
/* ============================================*/
/* This is the main control area -> top most part of the page */
.input-head-container{
  padding: 10px 15px;
  background: $white;
  border-bottom: 1px solid $metal-gray;
  // display: flex;
  align-items: center;
  justify-content: flex-end;

  .cancel-btn{
    margin: 0px 10px 0px 20px;
  }
}

.scroll-area{
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 15px;
}

/* Title for each area of the form builder */
.widget-title{
  background: $white;
  border: $metal-gray;
  padding: 15px 10px;
  border-bottom: 1px solid #e5e9f2;
  .title{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.857em;
    color: #A6A6A6;
    letter-spacing: 0.7px;
  }
}

/* FORM ELEMENTS */
#browser{
  .columns{ padding: 0px; }

  .toolbar-item {
    background: #ffffff;
    padding: 15px 10px;
    margin: 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    min-height: 100px;
    min-width: 100px;

    span{
      display: block;
      text-align: center;
    }

    .i-icon {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .toolbar-item.ui-draggable-dragging{
    padding: 30px 20px;
  }
}



/* ============================================*/
/* CONTROL STYLES */
/* Use these styles to alter css by adding these classes to the elements */
/* ============================================*/
.remove-space{
  margin:0px;
  padding:0px;
}

.remove-padding{
  padding:0px;
}

.clear{
  clear: both;
}

.flex{
  display: flex;
}





/* ============================================*/
/* TO BE ALLOCATED*/
/* ============================================*/
.moreFilter button[aria-expanded="true"]:before {
  content: "Hide Filter ";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.moreFilter button[aria-expanded="false"]:before {
  content: "Show Filter ";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


ul{
  margin-left: 0;
  -webkit-margin-after: 0;
}
.unstyled > li {
  list-style-type: none;
}

body.is-reveal-open {
  overflow: hidden;
}
.reveal-modal-bg{position:fixed;}
.reveal-modal{position:fixed;}

.top-bar ul{
  background-color: transparent;
}

.slim-label{
  margin-left: 5px;
  margin-right: 5px;
}


.expanded{
  width: 100%;
}

.hidden{
  display: none;
}

.toggle-row > hr{
  margin: 0px;
}

.toggle-row:hover{
  background-color:$body-bg
}

.left {
  float:left;
  //width:100px;
}

.center {
  display: inline-block;
  margin:0 auto;
  //width:100px;
}

.right {
  float:right;
}

.row{
  margin: none;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.reveal{
  padding: 0;
  border: 0;
  border-radius: $global-radius;
  .reveal-body{
    padding: 1rem;
  }
}




.log-in-form {
  border: 1px solid $medium-gray;
  padding: $form-spacing;
  border-radius:  $global-radius;
  margin-top: 50%;  
  background: $white;
}

.margin-top{
  margin-top: 30px;
}

.margin-top-15{
  margin-top: 15px;
}

.row{
  margin-right:auto;
  margin-left:auto;
  float: none;
}

.row-p{
  @extend .row;
  padding: 10px;
}

.flex-container{
  display: flex;
  align-items: center;
}

.i-label{
  padding-right:$paddingRight;
}



/* ============================================*/
/* 15. CUSTOMER PROFILE */
/* ============================================*/
.cp-container{
  margin: 20px 30px 30px 30px
}

.cp-second-col{
  margin-right:30px;
  margin-left:30px;
}

.cp-img-holder{
  border: 1px solid $medium-gray;
  border-radius:  $global-radius;
  background: $mist-gray;
}

.cp-center-img{
  margin: 0px auto;
  padding: 50px 70px 50px 70px;
  .icon-focus-24::before{
    color: rgb(192,204,218);
    font-size: 24px;
  }
}

.cp-circle{
  border: 1px solid $medium-gray;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #fff;
}

.cp-choose-pic{
  text-align: center;
  padding-top:15px; 
}
// .circle {

//   border-radius: 50%;
//   color: #fff;
//   text-align: center;
//   background: $body-bg
// }




.customAlert{
	
  //display: none;
  position: fixed;
  width: 100%;
  max-width: 550px!important;
  left: 50%;
  bottom: 2%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background: #ffe5e5;//#F2F6FE;
  border: 1px solid #ff4c4c;// #005CFB;
  border-radius: 5px;
  z-index: 3;
  
  @media all and (max-width: 1300px){
    .message{
      font-size: 1em !important;
      white-space: pre-line;
    }
    input[type='button']{
      height: 15% !important;
    }
  }
  
  .message{
    padding: 5px;
    color: $dark-gray;
    font-size: 1em;
    margin-bottom: 0px;
  }
    
  .confirmButton{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    /* margin-top: -45px; */
    /* margin-left: -25%; */
    outline: 0;
    border: 0;
    background:none;
    padding: 20px 20px 0px 0px;
  } 
  .icon-simple-remove:before{
    color: $main-theme;
  }
}

.infoAlert{
  @extend .customAlert;
  background: #F2F6FE;
  border: 1px solid #005CFB;
}

.customConfirm{
  @extend .customAlert;
  top: 50%;
  left: 50%;
  bottom: auto;
  background: #F2F6FE;
  border: 1px solid #005CFB;
  .btn-div{
    text-align: center;
  }
}


.Select-input input:not([type]){
  background: transparent;
}
      
@keyframes fadeOut{
	from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}

/* ============================================*/
/* 19. INPUT FORM */
/* ============================================*/
#input-form{
 #viewer{
   display: block;
   overflow-x: initial;
 }
}

.color-red{
  color: red;
}

.input-form-container{
  overflow: auto;
  max-height: 100vh;
}

/* ============================================*/
/* 20a. Inbound/Outbound: Outbound
/* ============================================*/
.call-btn{
  border: none !important;
}

.call-btn-ready{
  background: rgb(19,206,102);
  &:hover{
    background: rgb(19,206,102) !important;
  }
  &:focus{
    border: none;
    background: rgb(19,206,102) !important;
    outline: 0;
  }
}

.call-btn-end{
  background: rgb(255,73,73);
  &:hover{
    background: rgb(255,73,73) !important;
  }
  &:focus{
    border: none;
    background: rgb(255,73,73) !important;
    outline: 0;
  }
}

.color-main-theme-bold{
  color: $main-theme;
  font-weight: bold;
}

.color-light-grey{
  color: lightgrey;
}

.color-grey{
  color: grey;
}

.vertical-middle{
  vertical-align: middle;
}
#outbound_call{

  /* add this to parts of content inside sidebars. This is the "Scroll area to the input form creater" */
  .sidebar-content-spacer{
    padding: 15px;
  }

  .sidebar-profile-area{
    flex: 1;
    max-width:300px;

    .basic-details{
      /* Container of the basic profile area - .profile-name, .profile-img, ..etc */
      padding: 55px 0px;
      text-align: center;
    }

    /* Profile Picture of client */
    .cp-circle{
      height: 150px;
      width: 150px;
    }

    .profile-name{
      /* 22px */
      font-size: 1.467em;
      margin: 30px 0px 10px 0px;

      .name-firstname{
        font-weight: 700;
      }

      .name-initial, .name-lastname{
        font-family: 'Roboto Thin';
        font-weight: 700;
      }
    }

    .contact-group{
      display:flex;
      align-items: baseline;

      .phone-value{ display: block; padding: 0px; flex: 1;}
      .phone-value:last-child(){
        /* only apply to bottom most nnumber - this is the divider */
        border-bottom: 1px solid $metal-gray; padding-bottom: 10px; margin-bottom: 10px;
      }

      .contain-numbers{
        flex: 1;
      }

      span.hc-icon {
          margin-right: 10px;
      }
    }
  }

  .right-area{
    display: flex;
    flex: 4;
  }
  /* Middle part + form area */
  .workspace-area{
    flex: 3;
    // display: flex;
    // flex-direction: column;
    // background-color: #E8ECF2;
    // padding: 45px 30px;
    // -moz-box-shadow: inset 0 0 15px #999;
    // -webkit-box-shadow: inset 0 0 15px #999;
    // box-shadow: inset 0 0 15px #999;
  }
}

.outbound-card{
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  .padding-none{
    padding: 0;
  }
  .blank-part{
    padding: 35px;
  }
  .grey-part{
    border-top: 1px solid $metal-gray;
    border-bottom: 1px solid $metal-gray;
    padding: 25px 35px 25px 35px;
    background: $main-grey;
    .subject-btm{
      margin-bottom: 25px;
    }
    .message-textarea{
      min-height: 180px;
    }
  }
  .last-blank{
    padding: 25px 35px 25px 25px;
    .left-half{
      padding: 0 7.5px 0 0 !important;
    }
    .right-half{
      padding: 0 0 0 7.5px!important;
    }
    .attachment-area{
      border: 2px dashed $metal-gray;
      min-height: 120px;
      padding: 10px;
      margin-bottom: 15px;
      .reader-class{
        max-width: 140px;
        display: inline-block;
      }
      .upload-btn{
        // margin-bottom: 15px;
        min-width: 140px;
        height: 30px;
        padding: 0;
      }
      .forward-btn{
        height: 30px;
        line-height: 30x;
        padding: 0 8px;
      }
      .file-tag{
        display: inline-block;  
        margin-right: 5px;
        padding: 0 6px 0 6px;
        border: 1px solid $metal-gray;
        border-radius: $global-radius;
        margin-top: 10px;
        .icon-simple-remove:before{
          color: $main-theme !important;
          font-size: 1px;
        }
      }
    }
    .remark-textarea{
      min-height: 120px;
    }
    .grey-btn-group{
      margin-top: 15px;
      .medium-btn{
        margin-left: 15px;
        min-width: 140px;
      }
    }
    .last-row {
      margin: 0 15px 0 15px;
      padding: 0 0 15px 0;
      border-bottom: 1px solid $metal-gray;
      display: block;
      .left-part{
        float: left;
      }
      .right-part{
        float: right;
      }
    }
  }
  .strong-name{
    font-weight: bold;
  }
}

/* ============================================*/
/* 20b. Inbound/Outbound: Common code
/* ============================================*/

 /* Phone Screen Area */
 .sidebar-phone-area{
  flex: 1;
  max-width:300px;
  background: $white;
  /* Style the drop down button of the "Call mode button" -> Ready, Idle */
  .callmode-select select{
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    text-decoration: none;
    height: 25px;
    padding: 0px 10px;
    margin: 0px;
  }
  
  /* Call mode -> Dropdown button + 2 text (Talking and Work) */
  /* Div container */
  .call-modes {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border-bottom: 1px solid $metal-gray;
      background: $mist-gray;

        /* Div container of the elements */
      .callmode {
        flex: 1;
        text-align: center;
    }

    /* Style the drop down button of the "Call mode button" -> Ready, Idle */
    .callmode-select select{
      background: #005cfb;
      background-image: -webkit-linear-gradient(top,#005cfb,#005fdb);
      background-image: -moz-linear-gradient(top,#005cfb,#005fdb);
      background-image: -ms-linear-gradient(top,#005cfb,#005fdb);
      background-image: -o-linear-gradient(top,#005cfb,#005fdb);
      background-image: linear-gradient(180deg,#005cfb,#005fdb);
      border: 1px solid #044ac2;
      -webkit-border-radius: 5;
      -moz-border-radius: 5;
      border-radius: 5px;
      text-decoration: none;
      height: 25px;
      padding: 0px 10px;
      color: $white;
      margin: 0px;
    }
  }

  /* This is the status and the recording area container */
  .call-status{
    padding: 5px 15px;
    border-bottom: 1px solid $metal-gray;
    background: $mist-gray;
    .time-circle{
      border-radius: 50%;
      padding: 0 7px;
      min-height: 14px;
      display: inline-block;
      margin: 0 3px 0 0;
      top: 2px;
      position: relative;
    }
    .blue-circle{
      @extend .time-circle;
      background-color: $main-theme;
    }
    .grey-circle{
      @extend .time-circle;
      background-color: lightgrey;
    }
  }
  
  .panel-above-height{
    min-height: 124.5px;
  }
  /* Phone Input */
  .phone-input{
    border: none;
    box-shadow: none;
    font-size: 25px;
    margin-bottom: 0px;
  }

  /* This is the dialpad textbox container */
  .dialpad-area{
    width: 290px;
    min-height: 84px;
    padding: 10px 15px 0 15px;
    .coversation-color{
      color: rgb(32,190,85);
    }
    .hold-color{
      color: rgb(188,188,189) !important;
    }
  }

  /* Count Down panel */
  .countdown-panel{
    padding: 0 10px;
    font-size: 25px;
  }

  /* Count Down panel */
  .end-work-btn{
    margin-left: 15px;
    padding: 10px 40px;
  }
  /* 3 buttons/row */
  .specal-keys-height{
    min-height: 30.5px;
  }
  /* Sidebar Keypad Number Styles */
  .keypad-container{
    margin: 10px 15px 0 15px;
    border-radius: $global-radius;
    //border: solid $metal-gray 0.5px;
     border-top: solid $metal-gray 0.5px;
     border-left: solid $metal-gray 1px;
     border-right: solid $metal-gray 1px;
     border-bottom: solid $metal-gray 1px;

    .keypad-row{
      display: flex;
      // border: 1px solid $metal-gray;
      // border-bottom:none;

      /* Actual dial pad button */
      button{
        flex:1;
        // border: none;
        border-radius: 0px;
        background-image: none;
        // border-right: 1px solid $metal-gray;
        outline:0;
      }

      // button:last-child(){ border-right: none; }
      .phone-number-val{
        font-size: 1.300em;
        vertical-align: middle; 
       }
      .phone-letter-val{ 
        font-size: 1em;
        vertical-align: middle;  }
    }

    .keypad-row:last-child(){
      // border-bottom: 1px solid $metal-gray;
    }
  }

  /* Call Button Style */
  .call-btn-container{
    margin-top: 30px;
    text-align: center;

    .call-btn{
      border-radius: 20px;
      min-width: 140px;
      .hc-icon:before{
        color: $white;
      }
    }
  }
}

.display-none{
  display: none !important;
}

.visibility-hidden{
  visibility: hidden;
}



/* ============================================*/
/* 21. Inbound
/* ============================================*/

#inbound_main {
  // ========================== BOTTOM NAV BAR ==========================
  .navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border: solid $input-border-color 1px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: rgb(66,70,81);
    text-align: center;
    width: 90px;
    height: 87px;
    padding: 25px 0 20px;
    text-decoration: none;
    position: relative;
    border-left: solid $input-border-color 1px;
    border-right: solid $input-border-color 1px;
    
    .cc-icon{
      font-size: 24px;
    }

    .right-upper-no{
      position: absolute;
      top: 0px;
      right: 0px;  
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: #fff;
      line-height: 24px;       
      text-align: center;
      background: red;
      margin: 8px 8px 0 6px;
      font-weight: bold;
      font-size: 1px;
    }
  }

  .contace-cues{
    padding: 0 !important;
    width: 160px !important;
    line-height: 87px;
    font-weight: bold;
  }
  
  .navbar a.active {
    .icon-fb-16:before{color: #385998;}
    .icon-at-sign-16:before{color: #6A4C93;}
    .icon-fax-16:before{color: #40c9a2;}
    .icon-phone-16:before{color: #FF6700;}
    .icon-chat-16:before{color: #FFB400;}
    .icon-wechat-16:before{color: #62CA18;}
    .icon-voice-16:before{color: rgb(239,35,161);}
  }

  .navbar a.selected{
    background-color: $light-blue;
    font-weight: bold;
    border-bottom: solid $main-theme 4px;
  }
// ========================== PAGE (BLANK) CONTAINER ==========================
  .page-content{
    display: flex;
  }
  .flex-one{
    flex: 1;
  }
  .height-100{
    height: 100%;
  }
  .centered-content{
    display: table;
    margin: 0 auto;
    position: relative;
    top: 25%;
  }
  .phone-panel{
    position: relative;
    float: right;
    z-index: 1;
  }

  .sidebar-phone-area{
    height: 100vh;
  }
}

/* Special Blank state - Just for specific pages */
#inbound_main{
  .blankstate{ margin-top: 20%; }
}

.blankstate{
  width: 300px;
  margin:0px auto;
  text-align: center;

  img{
    max-width: 150px;
  }

  .blankstate-info{
    margin: 30px 0px;
  }
  
  .blankstate-title{
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    margin: 18px 0 0 0;
  }

  .blankstate-action{
    margin: 0px 0px 30px;
    /* Stlye only apply to upload file type blank state */
    > div, .react-file-reader-button {
      display: inline;
    }
  }
}

.block-element{
  display: block;
}

.center-word{
  white-space: pre-line;
  text-align: center;
}
// ========================== SELECT CLIENT PAGE ==========================

.select_client-container{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 210px;
  
  .sc-main-card{
    @extend .main-card;
    margin: 15px 15px 0 15px;
  }

  .sc-container{
    padding-right: 15px;
    padding-left: 15px;
  }

  h3{
    .icon-active-stroke-24:before{color: $main-theme;}
    .icon-folder-search-24:before{color: $main-theme;}
    .icon-person-search-24:before{color: $main-theme;}
    i{
      background: $light-blue;
      padding: 7px;
      margin: 7px 7px 7px 0;
      border-radius: $global-radius;
    }
  }

  .sc-button{
    margin: 15px;
  }

  .email-part{
    text-align: inherit;
  }

  .flex-row{
    display: flex; 
    justify-content: space-between;
    .left-part{
      display: table;
    }
    .first-box{
      @extend .gray-label;
      display: table-cell;
      vertical-align: middle;
    }
    .second-box{
      @extend .pre-wrap-text;
      display: table-cell;
    }
    .right-part{
      display: table;
    }
    .third-box{
      @extend .gray-label;
      display: table-cell;
      vertical-align: middle;
    }
    .fourth-box{
      @extend .pre-wrap-text;
      display: table-cell;
    }
  }
  .title-row{
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .email-attach-tag{
    font-size: smaller;
    border: 1px solid $metal-gray;
    border-radius: $global-radius;
    margin-right: 5px;
    padding: 0 6px 0 6px;
  }
}

.pre-wrap-text{
  white-space: pre-wrap;
}



/* ============================================*/
/* 22. User Roles
/* ============================================*/
#user_roles{
  .role-group{
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid $metal-gray;
    background: $body-bg-gray;
    border-radius: 5px;

    .role-title{
      border-bottom: 1px solid $metal-gray;
      margin-bottom: 15px;
    }

    .bold{
      font-weight: 700;
    }

    label.slim-label {
        padding: 5px 0px;
    }

    .role-option-container,.role-title {
        display: flex;
        align-items: center;
    }

    /* because flex is destroying its display block property */
    input[type=checkbox]{
      height: 100%;
    }
  }
}




















